# Ignore everything
*

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store


!.gitignore
!*.md
!starship.toml

!fish/
!fish/**

!nvim/
!nvim/**

!alacritty/
!alacritty/**

!karabiner/
!karabiner/**
karabiner/automatic_backups/**

!omf/
!omf/**

!tmux/
!tmux/**

